[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-storage = "*"
scikit-learn = "*"
wandb = "*"
pandas = "*"
numpy = "==1.25.2"
python-json-logger = ">=2.0.0"
torch = "==2.3.0"

[requires]
python_version = "3.9"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
