[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-storage = "*"
numpy = "*"
torch = "*"
scikit-learn = "*"

[requires]
python_version = "3.9"

[dev-packages]
