[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
requests = "*"
python-dotenv = "*"
pydantic = "*"
numpy = "*"
pandas = "*"
google-cloud-storage = "*"

[dev-packages]
pytest = "*"
httpx = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"

