[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
pydantic = "*"
requests = "*"
python-dotenv = "*"
numpy = "*"
pandas = "*"
google-cloud-storage = "*"

[requires]
python_version = "3.9"

[dev-packages]
