[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
google-cloud-storage = "*"
tqdm = "*"
python-dotenv = "*"
numpy = "<2"

[requires]
python_version = "3.9"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
black = "*"
